<div class="modal">
    <div class="modal-dialog">
        <div class="modal-close">×</div>
        <h2 class="modal-title">Add new car</h2>
        <div class="new-manufacturer-form">
            <form id="newCarForm" action="/addCar">
                <div class="form-group">
                    <label for="cName">Name</label>
                    <input type="text" class="form-control" id="cName">
                </div>
                <div class="form-group">
                    <label for="cConsumption">Consumption</label>
                    <input type="number" class="form-control" id="cConsumption">
                </div>
                <div class="form-group">
                    <label for="cColor">Color</label>
                    <input type="text" class="form-control" id="cColor">
                </div>
                <div class="form-group">
                    <label for="cManufacturer">Manufacturer</label>
                    <select id="cManufacturer" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label for="cYear">Year</label>
                    <input type="number" class="form-control" id="cYear">
                </div>
                <div class="form-group">
                    <label for="cAvailable">Available</label>
                    <input type="number" class="form-control" id="cAvailable">
                </div>
                <div class="form-group">
                    <label for="cHorsepower">Horsepower</label>
                    <input type="number" class="form-control" id="cHorsepower">
                </div>

                <button class="savebtn" id="saveCarBtn">Save</button>
            </form>
        </div>
    </div>
</div>
<script src="js/car.js"></script>